<main>
  <section>
    <h1>Welcome to the recepi app!</h1>
    <p>Explore a world of culinary delights with our recipe app. From mouthwatering dishes to quick snacks, discover a diverse collection of recipes that suit your taste and skill level.</p>
  </section>
</main>
